.dashboardloader,
.giftsloader {
  margin: var(--spacing-m) auto;
}

.dashboardloader {
  background: linear-gradient(var(--color-4) 0 0) 0/0% no-repeat var(--color-2);
}

.giftsloader {
  background: linear-gradient(var(--color-4) 0 0) 0/0% no-repeat var(--color-1);
}
