$desktop: 1280px;
$tablet-landscape: 1024px;

.tutu {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-m);
  padding: var(--spacing-m);
}

.column {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
  flex: 1;

  @media (max-width: $desktop) {
    flex: initial;
    width: calc(50% - var(--spacing-s));
  }

  @media (max-width: $tablet-landscape) {
    width: 100%;
  }
}

.card {
  background-color: red;
}

.loader {
  margin: var(--spacing-m) auto;
  background: linear-gradient(var(--color-neutral-4) 0 0) 0/0% no-repeat
    var(--color-neutral-1);
}
