.navigation {
  ul {
    list-style-type: none;
    display: flex;
  }

  li {
    display: flex;
  }

  a {
    padding: var(--spacing-s) var(--spacing-m);
    text-decoration: none;
    color: var(--color-neutral-4);

    &:hover {
      background-color: var(--color-neutral-4);
      color: var(--color-neutral-1);
    }

    &:focus-visible {
      outline: 0.25rem solid var(--color-solid-2);
      outline-offset: -0.25rem;
    }
  }
}
