.gift {
  position: relative;
  padding: var(--spacing-m) var(--spacing-l) var(--spacing-m) var(--spacing-m);
  background-color: var(--color-1);

  & + & {
    margin-top: var(--spacing-s);
  }
}

.isNew {
  animation: Appear 0.75s var(--ease-in-out-quad);
}

.title {
  margin-bottom: var(--spacing-s);
  font-weight: var(--font-weight-s);
}

.text {
  line-height: var(--spacing-m);
}

.button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: var(--spacing-l);
  height: 100%;
  background-color: transparent;
  font-size: var(--font-size-m);
  color: var(--color-4);

  &:hover {
    background-color: var(--color-4);
    color: var(--color-1);
  }
}

@keyframes Appear {
  0% {
    background-color: var(--color-solid-1);
  }
}
