@font-face {
  font-family: "Icons";
  src:
    url("./generic/fonts/Icons.woff2") format("woff2"),
    url("./generic/fonts/Icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
