:root {
  font-family: var(--font-regular);
  line-height: var(--line-height-m);
  letter-spacing: 0.6px;
  font-stretch: normal;
  font-weight: var(--font-weight-s);
  font-size: var(--font-size-m);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--color-1);
  color: var(--color-4);
}

* {
  margin: 0;
  padding: 0;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

#_tnf_1mm2_3 {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
