@mixin font {
  --font-regular: Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-bold: Bold, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-icon: "Icons", sans-serif;
}

@mixin font-size {
  --font-size-l: 42px;
  --font-size-m: 12px;
  --font-size-s: 10px;
}

@mixin font-weight {
  --font-weight-m: 700;
  --font-weight-s: 300;
}

@mixin line-height {
  --line-height-l: 1.25;
  --line-height-m: 1;
  --line-height-s: 0.75;
}

@mixin color {
  --color-neutral-1: #fff;
  --color-neutral-2: #eee;
  --color-neutral-3: #707070;
  --color-neutral-4: #28292a;
  --color-neutral-5: #202124;
  --color-neutral-6: #000000dc;
  --color-solid-1: #05ff00;
  --color-solid-2: #ff0100;
}

@mixin spacing {
  --spacing-l: 20px;
  --spacing-m: 12px;
  --spacing-s: 6px;
}

@mixin easing {
  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

:root {
  @include font();
  @include font-size();
  @include font-weight();
  @include line-height();
  @include color();
  @include spacing();
  @include easing();
}
