@mixin font {
  --font-text: "Neue-Helvetica", "Helvetica", "Arial", "sans-serif";
  --font-icon: "Icons", sans-serif;
}

@mixin font-size {
  --font-size-l: 18px;
  --font-size-m: 14px;
  --font-size-s: 12px;
}

@mixin font-weight {
  --font-weight-m: 600;
  --font-weight-s: 300;
}

@mixin color {
  --color-neutral-1: #fff;
  --color-neutral-2: #eee;
  --color-neutral-3: #666;
  --color-neutral-4: #28292a;
  --color-neutral-5: #202124;
  --color-neutral-6: #000;
  --color-solid-1: #05ff00;
  --color-solid-2: #ff0100;
}

@mixin spacing {
  --spacing-l: 32px;
  --spacing-m: 16px;
  --spacing-s: 8px;
}

@mixin easing {
  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

:root {
  @include font();
  @include font-size();
  @include font-weight();
  @include color();
  @include spacing();
  @include easing();
}
