.button {
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-s);
  border: 0;
  line-height: 1;
  text-decoration: none;
  font-family: var(--font-text);
  cursor: pointer;

  &:focus-visible {
    outline: 0.25rem solid var(--color-solid-2);
    outline-offset: -0.25rem;
  }
}
