$desktop: 1280px;
$tablet-landscape: 1024px;
$tablet-portrait: 768px;

.dashboard {
  display: flex;
  flex-direction: column;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-m);
  padding: 0 var(--spacing-m) var(--spacing-m);
}

.column {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
  flex: 1;

  @media (max-width: $desktop) {
    flex: initial;
    width: calc((100% / 3) - var(--spacing-s));
  }

  @media (max-width: $tablet-landscape) {
    flex: initial;
    width: calc(50% - var(--spacing-s));
  }

  @media (max-width: $tablet-portrait) {
    width: 100%;
  }
}
