@mixin if-light {
  @content;
}

@mixin light {
  --color-1: var(--color-neutral-1);
  --color-2: var(--color-neutral-2);
  --color-3: var(--color-neutral-3);
  --color-4: var(--color-neutral-6);
}

:root {
  @include if-light {
    @include light();
  }
}
